<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid black;
      padding: 5px;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>size</th>
    <th>mimeType</th>
    <th>path</th>
    <th>createdBy</th>
    <th>createdDate</th>
    <th>userId</th>
  </tr>
  </thead>
  <tbody>
  {{#storageFiles}}
    <tr>
      <td>{{id}}</td>
      <td>{{name}}</td>
      <td>{{size}}</td>
      <td>{{mimeType}}</td>
      <td>{{path}}</td>
      <td>{{createdBy}}</td>
      <td>{{createdDate}}</td>
      <td>{{userId}}</td>
    </tr>
  {{/storageFiles}}
  </tbody>
</table>
</body>
</html>

