<table border="1">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>size</th>
      <th>mimeType</th>
      <th>path</th>
      <th>createdBy</th>
      <th>createdDate</th>
      <th>useId</th>
    </tr>
  </thead>
  <tbody>
  {{#storageFiles}}
  <tr>
      <td>{{id}}</td>
      <td>{{name}}</td>
      <td>{{size}}</td>
      <td>{{mimeType}}</td>
      <td>{{path}}</td>
      <td>{{createdBy}}</td>
      <td>{{createdDate}}</td>
      <td>{{userId}}</td>
  </tr>
  {{/storageFiles}}
  </tbody>
</table>
